html
    head
        title= title
    style
        include style.css
    body
        a#login(href='/login') Log In
        form(action="/logout" method="post")
            button#logout(type="submit") WYLOGUJ SIĘ

        h1= message
        img(src="https://lh5.googleusercontent.com/qqiXdTtwJyctmBZC79rHtucYOGypzKL2TA5wIfRrK5yge-MwliZq36rrClHeAA-lgN58tnGBrC3_dZWlZTBWZufWYU-ePdUVFSNotFW4MDHvrZVnGEw=w1280")
        h1="Meme list"
        ul
            each meme in memes
                li
                    a(href="meme/" + meme.id) #{meme.name}
                    img(src=meme.url)
                    p='Cena:' + meme.price

        p= "Pages viewed: " + viewed